@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/static/Inconsolata-ExtraBold.ttf')
        format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/static/Inconsolata-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/static/Inconsolata-Regular.ttf') format('truetype');
    font-weight: 400;
}

:root {
    font-family: 'Inconsolata', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-mid: 1rem;
    --font-big: 1.5rem;
    --font-extra-big: 2rem;
    --img-icon-size: 16px;

    --primary-red: #f57463;

    --bg-image:
        url('./assets/svgs/pattern-squiggly-line-top.svg'),
        url('./assets/svgs/pattern-squiggly-line-bottom-mobile-tablet.svg'),
        url('./assets/svgs/pattern-circle.svg'),
        url('./assets/svgs/pattern-lines.svg'),
        url('./assets/background/background-mobile.png');

    /* Colors */
    --primary-bg-color: rgba(70, 60, 98, 0.4);
    --hover-bg-color: rgba(153, 142, 184, 0.4);
    --border-color: rgba(255, 255, 255, 0.5);
    --border-radius: 24px;
    --input-height: 5.5vh;
}

@media (min-width: 500px) {
    :root {
        --font-mid: 1.4rem;
        --font-big: 2rem;
        --font-extra-big: 3.5rem;
        --img-icon-size: 24px;

        /* make it tablet */
        --bg-image:
            url('./assets/svgs/pattern-squiggly-line-top.svg'),
            url('./assets/svgs/pattern-squiggly-line-bottom-mobile-tablet.svg'),
            url('./assets/svgs/pattern-circle.svg'),
            url('./assets/svgs/pattern-lines.svg'),
            url('./assets/background/background-tablet.png');
    }
}

@media (min-width: 1024px) {
    :root {
        /* make it desktop */
        --bg-image:
            url('./assets/svgs/pattern-squiggly-line-top.svg'),
            url('./assets/svgs/pattern-squiggly-line-bottom-desktop.svg'),
            url('./assets/svgs/pattern-circle.svg'),
            url('./assets/svgs/pattern-lines.svg'),
            url('./assets/background/background-desktop.png');
    }
}

.page-wrapper {
    height: 100vh;
    overflow: auto;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size:
        35vw auto,
        50vw auto,
        20vw auto,
        auto,
        cover;
    background-position:
        top right,
        bottom left,
        75% 75%,
        top,
        center;

    animation: fade-in 6s ease-in-out infinite;
}

.red-text {
    color: var(--primary-red);
}

.ticket_background {
    background-image: url('./assets/svgs/pattern-ticket.svg');
    background-size: cover;
}

.font-mid {
    font-size: var(--font-mid) !important;
}

.font-big {
    font-size: var(--font-big) !important;
}

.font-extra-big {
    font-size: var(--font-extra-big);
}

.img-icon {
    width: var(--img-icon-size);
}

.icon-upload {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
}

.v-field__input {
    font-size: var(--font-mid); 
    height: var(--input-height);
    border: 0.5px solid var(--border-color);
    border-radius: var(--border-radius) !important;
    padding-left: 1.5rem !important;
    background-color: var(--primary-bg-color);
}

.v-field__input:hover {
    background-color: var(--hover-bg-color);
}

.lighten-hover:hover {
    background-color: var(--hover-bg-color);
}

.upload-avatar {
    border: 1px dashed var(--border-color);
    background-color: var(--primary-bg-color);
}

.ticket-btn {
    font-size: var(--font-big) !important;
    font-weight: 700 !important;
    height: var(--input-height) !important;
    color: black;
}
