:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.page-wrapper {
    height: 100vh;
    width: 100vw;
    z-index: -10;
    position: absolute;
    background-image:
        url('./assets/svgs/pattern-squiggly-line-top.svg'),
        url('./assets/svgs/pattern-squiggly-line-bottom-desktop.svg'),
        url('./assets/svgs/pattern-circle.svg'),
        url('./assets/svgs/pattern-lines.svg'),
        url('./assets/background/background-desktop.png');
    background-repeat: no-repeat;
    background-size:
        35vw 25vh,
        75vw 50vh,
        20vw 20vh,
        cover,
        cover;
    background-position:
        65vw 2vh,
        0 50vh,
        62vw 45vh,
        center,
        center;

    animation: fade-in 6s ease-in-out infinite
}

.page-spiral {

}

@keyframes fade-in {
    0%, 100%{
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}
